.brokingclub-color #left-navigation .social-icon li a{
    color: #FFE500;
}

.brokingclub-color ul.mainNav li a.active,
.brokingclub-color .dropdown-menu.top-notification h4,
.brokingclub-color .top-navigation .dropdown-menu h4{
    color: #222;
    background-color: #FFE500;
}

.brokingclub-color ul.mainNav li a:hover,
.brokingclub-color .top-navigation ul li a:hover{
    background-color: #333;
    color: #fff !important;
}

.brokingclub-color .badge-red{
    background-color: #FFE500;
    color: #222;
}

.brokingclub-color ul.mainNav.active li.active a i{
    color: #222;
}


.funnydogAvatar {
    background-image: url('http://media.giphy.com/media/oDLDbBgf0dkis/giphy.gif');
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 200px;
}

.active .funnydogAvatar{
    height: 40px;
    background-size: 60px 40px;
}

.tab-content {
    border-left: 1px #e0e0e0 solid;
    border-bottom: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
}

.label-neutral {
    background-color: #aaa;
}

.label-as-badge {
    border-radius: 1em;
}

.bigger-label{
    font-size: 90%;
}

.panel .form-control[readonly]{
    background-color: #eee;
}

.player-worth-panel h3{
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;

}

.player-worth-panel b{
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-align: right;
}

.player-worth-panel .total-worth b{
    font-weight: bold;
    text-decoration: underline;
}

.player-worth-panel .col-md-1{
    font-size: 3em;
    font-weight: bold;
    line-height: 46px;
}

.userHead {
    text-align: center;
}

.userHead img{
    max-width: 150px;
}


.actions {
    margin: 10px;
}

.stocks-list .stock-panel{
    float: left;
    background-color: #888;
    width: 250px;
    color: #fff;
    margin: 0px 10px 10px 0px;
    transition: ease all 0.2s;
}

.stocks-list .stock-panel:hover{
    opacity: 0.9;
}

.stocks-list .stock-panel h3{
    margin:  0px;
    font-wight: 26px;
}

.stocks-list .stock-panel .name,
.stocks-list .stock-panel .value{
    padding: 15px;
}

.stocks-list .stock-panel .value{
    text-align: right;
}



.stocks-list .stock-panel .value b{
    font-size: 18px;
    font-weight: normal;
    display: block;

}

.stocks-list .stock-panel table{
    width: 100%;
    height: 85px;
}

.stocks-list .stock-panel .value span{
    background-color: rgba(0,0,0,0.2);
    padding: 0px 3px;
    border-radius: 3px;
}

.stocks-list .name-container{
    width: 100%;
}

.stocks-list .value-container{
    min-width: 100px;
}

.stocks-list .stock-mode-falling .name-container{
    background-color: #D84A38;
}

.stocks-list .stock-mode-falling .value-container{
    background-color: #D33F2D;
}

.stocks-list .stock-mode-rising .name-container{
    background-color: #35AA47;
}

.stocks-list .stock-mode-rising .value-container{
    background-color: #319E42;
}