.brokingclub-color #left-navigation .social-icon li a{
    color: #FFE500;
}

.brokingclub-color ul.mainNav li a.active{
    color: #222;
    background-color: #FFE500;
}

.brokingclub-color ul.mainNav li a:hover,
.brokingclub-color .top-navigation ul li a:hover{
    background-color: #333;
    color: #fff !important;
}

.brokingclub-color .badge-red{
    background-color: #FFE500;
    color: #222;
}

.brokingclub-color ul.mainNav.active li.active a i{
    color: #222;
}

.funnydogAvatar {
    background-image: url('http://media.giphy.com/media/oDLDbBgf0dkis/giphy.gif');
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 200px;
}

.active .funnydogAvatar{
    height: 40px;
    background-size: 60px 40px;
}

.tab-content {
    border-left: 1px #e0e0e0 solid;
    border-bottom: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
}

.label-neutral {
    background-color: #aaa;
}

.label-as-badge {
    border-radius: 1em;
}

.bigger-label{
    font-size: 90%;
}

.panel .form-control[readonly]{
    background-color: #eee;
}

.player-worth-panel h3{
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;

}

.player-worth-panel b{
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-align: right;
}

.player-worth-panel .total-worth b{
    font-weight: bold;
    text-decoration: underline;
}

.player-worth-panel .col-md-1{
    font-size: 3em;
    font-weight: bold;
    line-height: 46px;
}