/laravel/bootstrap/compiled.php
/laravel/vendor
.idea/
/laravel/public/fickle
/laravel/public/js/documo
/laravel/build/logs
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
node_modules/*
/wordpress
start.sh
.env